<link rel="stylesheet" href="/public/admin/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/public/admin/css/basic.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    轮播图列表
                </div>
                <div class="panel-body">
                    <!--
                列表展示
            -->
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="th">
                                    <th>名称</th>
                                    <th>分类</th>
                                    <th>图片</th>
                                    <th>跳转地址</th>
                                    <th>排序</th>
                                    <th class="text-center">状态</th>

                                    <th class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i=0;i<focusInfo.length;i++){%>
                                <tr>
                                    <td><%=focusInfo[i].title%></td>

                                    <td>

                                        <%if(focusInfo[i].type==1){%>

                                        网站

                                        <%}else if(focusInfo[i].type==2){%>
                                        App

                                        <%}else if(focusInfo[i].type==3){%>
                                        小程序
                                        <%}else {%>

                                        未知类型

                                        <%}%>

                                                </td>   
                                                <td><img class="pic" width="100px" src="<%=focusInfo[i].focus_img%>" />
                                    </td>
                                    <td><%=focusInfo[i].link%></td>
                                    <td><span
                                            onclick="changeAttr(this,'Focus','sort','<%=focusInfo[i]._id%>')"><%=focusInfo[i].sort%></span>
                                    </td>
                                    <td class="text-center">

                                        <%if(focusInfo[i].status==1){%>

                                        <span
                                            onclick="changeStatus(this,'Focus','status','<%=focusInfo[i]._id%>')">启用</span>

                                        <%}else{%>
                                        <span
                                            onclick="changeStatus(this,'Focus','status','<%=focusInfo[i]._id%>')">禁用</span>
                                        <%}%>

                                                </td>                                                                    
                                                <td class="text-center">　<a href="/admin/focus/edit?_id=<%=focusInfo[i]._id%>">修改</a>　<a
                                            class="delete"
                                            href="/admin/delete?model=Focus&_id=<%=focusInfo[i]._id%>">删除</a></td>
                                </tr>


                                <%}%>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>