<ul class="aside">
    <%for(var i=0;i<accessList.length;i++){%>
    <li>
        <%if(accessList[i].checked == 'true' && accessList[i].type == 1 || (userinfo.is_super == 1 && accessList[i].type == 1)){%>
        <h4><%=accessList[i].module_name%></h4>

        <ul>
            <%for(var j=0;j<accessList[i].items.length;j++){%>
            <%if(accessList[i].items[j].checked == 'true' && accessList[i].items[j].type != 3 || (userinfo.is_super == 1 && accessList[i].items[j].type != 3)){%>
            <li class="list-group-item"> <a href="<%=accessList[i].items[j].url%>" target="rightMain">
                    <%=accessList[i].items[j].action_name%></a></li>
            <%}%>
            <%}%>
        </ul>
        <%}%>
    </li>
    <%}%>
</ul>