<link rel="stylesheet" href="/public/admin/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/public/admin/css/basic.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    修改管理员
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/manager/doEdit" method="post">
                            <input type="hidden" name="_csrf" value="<%=csrf%>">
                            <input type="hidden" name="_id" value="<%=adminInfo._id%>">
                            <ul>
                                <li>名称: <input type="text" name="username" value="<%=adminInfo.username%>" /></li>

                                <li>密码: <input type="password" name="password" /></li>
                                <li>手机: <input type="text" name="mobile" value="<%=adminInfo.mobile%>" /></li>
                                <li>邮箱: <input type="text" name="email" value="<%=adminInfo.email%>" /></li>
                                <li>角色: <select name="role_id">
                                        <%for(var i=0; i<roleList.length; i++){%>
                                        <option value="<%=roleList[i]._id%>"
                                            <%=roleList[i]._id.toString()==adminInfo.role_id.toString()?"selected=selected":""%>>
                                            <%=roleList[i].title%></option>
                                        <%}%>
                                </select></li>
                                <li>
                                    <br />
                                    <button type="submit" class="btn btn-default">提交</button>
                                </li>

                            </ul>
                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

</body>
</html>